.about {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    padding: 0 100px;
    @media (max-width: 768px) {
      padding: 0 20px;
    }
  }
  
  .about__content {
    flex: 1;
  }

 .about footer {
    margin-top: 10px;
    @media screen and (max-width: 768px) {
      margin-top: 0px;
    }
 }