@import '../sass/abstracts/variables';

.collapse {
    margin-bottom: 30px;
    padding: 0 100px;
  }
  
  .collapse__header {
    background-color: #FF6060;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius-small;
    color: $white;
    font-size: $font-size-large;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
  }
  
  .collapse__icon {
    font-size: 20px;
  }
  
  .collapse__content {
    padding: 15px;
    border-top: 1px solid #ddd;
    color: $black;
    background-color: $light-grey;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
  }
  