.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    // position: absolute;
    // bottom: 0;
    // width: 100%;
  }
  
  .footer h1 {
    margin: 0;
  }
  
  .footer img {
    width: 120px;
    height: auto;
  }
  
  .footer p {
    margin: 10px 0 0;
  }