nav {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        gap: 55px;

        @media (max-width: 480px) {
            gap: 25px;
        }
    }

    li {
        a {
            text-decoration: none;
            color: $black;
            font-size: $font-size-large;

            &:hover {
                text-decoration: underline;
            }

            &.active {
                text-decoration: underline; // Soulignement pour la page active
            }
        }
    }
}