nav {
    @include montserrat-base;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        flex-direction: row;
        gap: 55px;

        @media (max-width: 768px) {
            gap: 25px;
        }

        @media (max-width: 374px) {
            gap: 10px;
        }

        @media (max-width: 320px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            gap: 0;
        }
    }

    li {
        a {
            text-decoration: none;
            color: $black;
            font-size: $font-size-large;
            
            @media (max-width: 768px) {
                font-size: $font-size-small;
            }

            &:hover {
                text-decoration: underline;
            }

            &.active {
                text-decoration: underline; // Soulignement pour la page active
            }
        }
    }
}