@import '../sass/abstracts/variables';

.slideshow {
    position: relative;
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        max-height: 255px;
    }

    &__container {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        will-change: transform; /* Performance optimizations */
        flex-wrap: nowrap;
    }

    &__image {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
        flex-shrink: 0;
        border-radius: $border-radius-large;
        @media (max-width: 768px) {
            border-radius: $border-radius-medium;
            max-height: 255px;
        }
    }

    &__controls {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);

        & img {
            @media (max-width: 768px) {
                width: 12px;
            }
        }
    }

    &__control--prev,
    &__control--next {
        background: transparent;
        border: none;
        padding: 0 20px;
    }

    &__arrow {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

    &__counter {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%); /* Horizontal centering */
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.1);
        @media (max-width: 768px) {
            visibility: hidden;
        }
    }
}
