@import '../sass/abstracts/variables';
@import '../sass/abstracts/mixins';

.title-location {
    @include montserrat-base;
    display: flex;
    flex-direction: column;
    width: 64%;
    margin-bottom: 20px;
    order: 1;
    @media (max-width: 768px) {
        order: 1;
        width: 100%;
    }


    &__title {
        color: $primary-color;
        font-size: $font-size-x-large;
        font-weight: 500;
        
        @media (max-width: 768px) {
            font-size: $font-size-base;
        }
    }

    &__location {
        color: $black;
        margin-bottom: 0;
        @media (max-width: 768px) {
            font-size: $font-size-small;
        }
    }
}